<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--        Recipe beans-->
    <bean id="NorthIndianLentils" class="com.example.TastyTrove.Recipes.NorthIndian" >
        <property ref="Lentils" name="ingredients"/>
    </bean>
    <bean id="NorthIndianRice" class="com.example.TastyTrove.Recipes.NorthIndian" >
        <property ref="Rice" name="ingredients"/>
    </bean>
    <bean id="NorthIndianWheat" class="com.example.TastyTrove.Recipes.NorthIndian" >
        <property ref="Wheat" name="ingredients"/>
    </bean>


    <bean id="SouthIndianLentils" class="com.example.TastyTrove.Recipes.SouthIndian" >
        <property ref="Lentils" name="ingredients"/>
    </bean>
    <bean id="SouthIndianRice" class="com.example.TastyTrove.Recipes.SouthIndian" >
        <property ref="Rice" name="ingredients"/>
    </bean>
    <bean id="SouthIndianWheat" class="com.example.TastyTrove.Recipes.SouthIndian" >
        <property ref="Wheat" name="ingredients"/>
    </bean>


    <bean id="ChineseLentils" class="com.example.TastyTrove.Recipes.Chinese" >
    <property ref="Lentils" name="ingredients"/>
    </bean>
    <bean id="ChineseRice" class="com.example.TastyTrove.Recipes.Chinese" >
        <property ref="Rice" name="ingredients"/>
    </bean>
    <bean id="ChineseWheat" class="com.example.TastyTrove.Recipes.Chinese" >
        <property ref="Wheat" name="ingredients"/>
    </bean>



<!--    Define beans of ingredient types-->
    <bean id="Lentils" class="com.example.TastyTrove.Ingredients.Lentils"/>
    <bean id="Rice" class="com.example.TastyTrove.Ingredients.Rice"/>
    <bean id="Wheat" class="com.example.TastyTrove.Ingredients.Wheat "/>

</beans>